#리스트 (list) 자료형 
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용
- 표현 방법 : 리스트명 = [요소1, 요소2,...]

In [8]:
## 리스트 자료형 선언
var01=[]
var01=[1,2,3]
var01=['I','have']
var01=['aa',22, True]
var01=['aa',22, ['dream']]
print(var01)

var01[2][0]

['aa', 22, ['dream']]

'dream'

#리스트의 연산자

In [44]:
#리스트의 숫자합치기 
var01=[1,2,3]
var02=[4,5,6]
var01+var02

[1, 2, 3, 4, 5, 6]

In [46]:
var03=[]
for i in range(0,len(var02)):
    var03.append(var01[i] + var02[i])
    print(var01[i] + var02[i])
var03

5
7
9

[5, 7, 9]

In [30]:
var01 *3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
var01

[1, 2, 3]

In [34]:
var03=0
for i in 0,1,2:
    var03 = var03 + var01[i]+var02[i]
print(var03)

21

In [35]:
str(var01[2])+'hi'

'3hi'

In [36]:
int('123')

123

#리스트 관련 함수

In [37]:
#리스트의 수정과 삭제 
var01
var01[2] = 4
var01

[1, 2, 4]

In [38]:
var01[1:2] = ['a','b','c']
var01

[1, 'a', 'b', 'c', 4]

In [39]:
var01[1:3]=[]
var01

[1, 'c', 4]

In [40]:
del var01[1]
var01

[1, 4]

In [43]:
#리스트에 요소 추가 
var01 = [1,2,3]
var01.append(4)
var01

[1, 2, 3, 4]

In [47]:
var01.append([5,6])
var01

[1, 2, 3, [5, 6]]

In [52]:
#리스트의 정렬
var01=[1,4,3,2]
print(var01)
#오름차순정렬 
var01.sort()
print(var01)
#내림차순 정렬
var01.reverse()
print(var01)

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [53]:
#리스트의 정렬 (영문)
var01=['a','f','e','s']
print(var01)
#오름차순정렬 
var01.sort()
print(var01)
#내림차순 정렬
var01.reverse()
print(var01)

['a', 'f', 'e', 's']
['a', 'e', 'f', 's']
['s', 'f', 'e', 'a']

In [55]:
#리스트의 정렬 (한글)
var01=['대','한','민','국']
print(var01)
#오름차순정렬 
var01.sort()
print(var01)
#내림차순 정렬
var01.reverse()
print(var01)

['대', '한', '민', '국']
['국', '대', '민', '한']
['한', '민', '대', '국']

In [56]:
#리스트의 위치정보 
var01=[4,5,6]
var01.index(5)

1

In [58]:
#리스트에 요소 삽입
var01.insert(0,1)
var01

[1, 1, 4, 5, 6]

In [59]:
#리스트에 요소제거
var01.remove(4)
var01

[1, 1, 5, 6]

In [61]:
#리스트 요소 끄집어 내기
var01 = [1,2,3]
print(var01.pop())
print(var01)

3
[1, 2]

In [62]:
#for문을 사용한 pop
var01=[1,2,3]
for i in range(0,3):
    print(var01.pop())
print(var01)

3
2
1
[]

In [63]:
#리스트의 요소 개수 세기
var01 = [1,2,3,4,4]
print(var01.count(4))
print(len(var01))

2
5

In [66]:
#리스트의 확장
var01=[1,2,3,4]
#var01.append([5,6]) #얘는 이거 배열 자체를 배열안에 또넣어줌 
#var01
var01.extend([5,6]) #낱개로 배열 안에 넣어줌 
var01

[1, 2, 3, 4, 5, 6]